div.row > div {
    display: inline-block;
}

div.time {
    width:75px;
    font-size:1em;
}

div.day {
    text-align:center;
    width:50px;
    font-size:0.75em;
}

div.delete_button {
    font-size:0.5em;
}

input.time_input {
    font-size:0.75em;
}

input.day_select {
    vertical-align:middle;
}

div.rtc_data
{
   font-size:50;
   font-weight:bolder;
}

div.zip
{
    width:25px;
}
